.resultado-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #f4f6ff, #eef1ff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  font-family: "Segoe UI", sans-serif;
  flex-direction: column;
}

.resultado-card {
  background: white;
  width: 100%;
  max-width: 1200px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.4s ease-in-out;
}

.resultado-title {
  text-align: center;
  font-size: 28px;
  color: #430f5b;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/**
.section-title {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 25px;
  color: #103e7e;
  background-color: #ebedf2;
  padding-left: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 500px;
  margin: auto;
}
  **/

.profile-list,
.program-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.profile-item {
  background: #f7f8ff;
  padding: 12px 18px;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  transition: 0.2s;
}

.profile-item:hover {
  transform: translateX(4px);
  background: #eceeff;
}

.program-item {
  background: #fafafa;
  padding: 18px;
  border-radius: 15px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  transition: 0.2s;
    border-left: 5px solid #6c63ff;

}

.program-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.program-name {
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

.program-reason {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.no-results {
  margin-top: 10px;
  color: #888;
  font-style: italic;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.acciones {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.acciones button {
  background-color: #39A900;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 8px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.acciones button:hover {
  background-color: #2f8e00;
}
