.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  z-index: 1000;
  background: #39174d;
  padding: 15px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

/* BOTONES DEL MENÚ */
.sidebar > button {
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  padding: 12px 10px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.sidebar > button:hover {
  background: rgba(255, 255, 255, 0.08);
}

/* 3 PUNTOS */
.sidebar > button::after {
  content: "▾";
  position: absolute;
  right: 10px;
  font-size: 15px;
  opacity: 0.6;
}

/* SUBMENÚ */
.sidebar div {
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  animation: slideDown 0.3s ease forwards;
}

/* SUB BOTONES */
.sidebar div button {
  width: 100%;
  background: transparent;
  border: none;
  color: #b4acd6;
  padding: 8px 10px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.sidebar div button:hover {
  background: rgba(94, 114, 228, 0.15);
  color: #5e72e4;
}

/* CERRAR SESIÓN (SOLO ESTE ES ROJO) */
.logout-btn {
  margin-top: 20px;
  background: #f5365c !important;
  text-align: center;
  font-weight: bold;

}

.logout-btn:hover{
  background: #ec0c38 !important;
}

.logout-btn::after {
  content: none !important;
}

/* ANIMACIÓN */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


:root {
  --sidebar-width: 300px;
} 


.sidebaravi{
  margin:20px;
}


hr{
  width: 250px;
  margin: auto;
  margin: 10px;
  border: none;
  height: 1px;
  background-color: #ffffff48;
}

